:root {
  --bg: #b7b7b7ec;
  --primary: #fff;
  --hover: #0600c2;
  --nav: #0e0e0e2c;
  --font: #000;
  --green: #009c41;
  --low-green: #014f0e;
  --black: #192a56;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --orange: #ec994b;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #192a56;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navbar-container .navbar a:hover {
  color: #0a8043;
}

.navbar-container .navbar {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-left: auto;
  margin-right: 20px;
  font-style: italic;
  color: var(--bg);
  margin-bottom: 0;
}

.navbar-logo img {
  width: 60px;
  height: auto;
  border-radius: 50%;
  margin-left: 30px;
}

.navbar-container .navbar-extra a {
  margin-top: -5px;
}

.navbar-container .navbar a {
  color: var(--primary);
  text-decoration: none;
  font-size: 15px;
  font-style: italic;
}

.navbar-container .navbar a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #0a8043;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar-container .navbar a:hover::after {
  transform: scaleX(1);
}

.navbar-container .navbar-extra {
  display: flex;
}

.navbar button {
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #4169e1;
  font-size: 15px;
  font-family: "Poppins";
}

#menu {
  display: none;
}

.navbar-extra a {
  color: var(--primary);
}

/* media queries */
@media screen and (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #menu {
    display: inline-block;
    left: 10px; /* Menggeser ikon menu ke kiri sejauh 10px */
  }
  .navbar-container .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--primary);
    width: 30px;
    height: 100vh;
    transition: 0.3s;
    border-radius: 10px;
  }
  .navbar-container .navbar a {
    color: var(--font);
  }
  .navbar-container .navbar.active {
    right: 0;
    width: 150px;
    height: 300px;
  }
  .navbar-container .navbar {
    color: black;
    display: block;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }
  .navbar-container .navbar a::after {
    transform-origin: 0 0;
  }
  .navbar-container .navbar a:hover::after {
    transform: scale(0.5);
  }
  .navbar-container .navbar-extra a {
    margin-bottom: -5px;
  }
}

.landing-page {
  background: url("bg.jpg") center center no-repeat;
  background-size: cover;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-content {
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
}

.landing-page h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: var(--black);
  text-align: center;
  font-family: mv boli;
}

.landing-page h1 span {
  color: #3bb143;
  font-family: mv boli;
}

h4 {
  font-size: 1.7rem;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center;
  color: var(--black);
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: var(--black);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: var(--green);
  letter-spacing: 0.1rem;
}

button:hover {
  background-color: #2e882e;
}

/* Responsive styles */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  input[type="text"] {
    width: 60%;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }

  input[type="text"] {
    width: 70%;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.8rem;
  }

  input[type="text"] {
    width: 80%;
  }
}
section {
  padding: 2rem 9%;
}

section:nth-child(even) {
  background: var(--primary);
}

.button {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  background: var(--black);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
}

.button:hover {
  background: var(--green);
  letter-spacing: 0.1rem;
}

.content {
  color: var(--font);
}

.home .home-slider .slide {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 9rem;
}

.home .home-slider .slide .content {
  flex: 1 1 45rem;
}

.home .home-slider .slide .image {
  flex: 1 1 45rem;
}

.home .home-slider .slide .image img {
  width: 100%;
}

.home .home-slider .slide .content span {
  color: var(--green);
  font-size: 2.5rem;
}

.home .home-slider .slide .content h2 {
  color: var(--black);
  font-size: 4rem;
}

.home .home-slider .slide .content p {
  color: var(--light-color);
  font-size: 2.2rem;
  padding: 0.5rem 0;
  line-height: 1.5;
}

/* Container */
@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

body {
  font-size: 1.6rem;
}

.container {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.section-heading {
  font-size: 3rem;
  color: var(--green);
  padding: 2rem 0;
  font-style: italic;
}

.section-subheading {
  color: var(--black);
}

#tranding {
  padding: 4rem 0;
}

@media (max-width: 1440px) {
  #tranding {
    padding: 7rem 0;
  }
}

#tranding .tranding-slider {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

@media (max-width: 500px) {
  #tranding .tranding-slider {
    height: 45rem;
  }
}

.tranding-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

@media (max-width: 500px) {
  .tranding-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .tranding-slide .tranding-slide-img img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.tranding-slide .tranding-slide-img img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}

.tranding-slide .tranding-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tranding-slide-content .item-price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--black);
}

.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: white;
}

.item-rating {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}

.item-rating span {
  color: var(--primary);
}

.rating ion-icon {
  color: var(--orange);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.tranding-slider-control .slider-arrow {
  background: var(--primary);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: "";
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

.last-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background: #fff;
  background-size: cover;
  align-items: center;
  margin-top: -100px;
}

.last-section .left-side {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
}

.last-section .left-side h1 {
  font-family: "Poppins", sans-serif;
  color: var(--green);
  margin-left: 100px;
}

.last-section .left-side p {
  font-family: "Poppins", sans-serif;
  color: var(--black);
  margin-left: 110px;
}

.last-section .left-side a {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 240px;
}

.last-section .right-side {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
}

.last-section-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background: #fff;
  background-size: cover;
  align-items: center;
  margin-top: -100px;
}

.last-section-2 .seecond-left-side {
  width: 100%;
  max-width: 500px;
  height: auto;
  text-align: center;
  margin-bottom: 2rem;
  justify-content: center;
}

.last-section-2 .second-right-side h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: var(--green);
  margin-right: 100px;
}

.last-section-2 .second-right-side p {
  font-family: "Poppins", sans-serif;
  color: var(--black);
  text-align: center;
  margin-right: 120px;
}

.last-section-2 .second-right-side a {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 200px;
}

.footer {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.footer-column {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.footer-name {
  color: var(--black);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: mv boli;
}

.footer-name span {
  color: var(--green);
  font-family: mv boli;
}

.footer-title {
  color: var(--black);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-title span {
  color: var(--green);
}

.footer-link {
  color: black;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 5px;
}

.footer-link {
  color: black;
  transition: transform 0.3s;
}

.footer-link:hover {
  color: blue;
  transform: translateX(5px);
}

.web-bottom {
  background-color: #3356af;
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.footer-copy {
  color: var(--primary);
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}
/* Gaya dasar untuk semua perangkat */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
    margin: 10px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  /* Lebarkan area konten utama */
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  .nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
}
